.hero {
  margin-bottom: $spacer * 3;

  &__heading {
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
  }

  &__buttons > * {
    margin-right: $spacer / 2;
    margin-bottom: $spacer / 2;
  }

  &__feature {
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  p {
    @extend .lead; 
  }
}
