.homepage {
  h1 {
    @extend .display-3;
    font-weight: 400;

    sup {
      top: -0.75em;
      font-family: $font-family-monospace;
      font-size: 0.5em;
    }
  }

  .page-content {
    padding-top: $spacer * 4;
    padding-bottom: $spacer * 4;

    .footnote {
      position: absolute;
      top: unset;
      margin-top: $spacer / 2;
      margin-left: $spacer / 2;
      line-height: 1.5;
      font-family: $font-family-monospace;
    }

    #full-service-definition {
      ul {
        display: inline-block;
        list-style-type: none;
        padding: $spacer ($spacer * 1.25);
        color: $gray-600;
        font-family: $font-family-monospace;
        font-size: 0.75em;
        transition: all 150ms ease-out;
      }

      &.active {
        ul {
          background-color: $yellow-100;
          color: #000;
        }
      }
    }
  }
}
