.homepage {
  h1 {
    @extend .display-4;
    font-weight: 400;
    margin-bottom: $spacer * 1.5;

    sup {
      top: -0.75em;
      font-family: $font-family-monospace;
      font-size: 0.5em;
    }
  }

  #work-hero {
    padding-top: $spacer * 3;
    padding-bottom: $spacer * 3;
  }

  .page-content {
    padding-top: $spacer * 4;
    padding-bottom: $spacer * 4;
  }

  #full-service-definition {
    position: relative;
    top: $spacer * -2;
    transition: opacity 150ms ease-out;

    ul {
      position: relative;
      top: $spacer * 2;
      list-style-type: none;
      margin-bottom: 0;
      padding: $spacer ($spacer * 1.25);
      color: $gray-700;
      font-family: $font-family-monospace;
      font-size: 0.75em;
      transition: all 1500ms ease-out;
    }

    .footnote {
      position: absolute;
      top: $spacer * 2.75;
      left: $spacer / 2;
      line-height: 1.5;
      font-family: $font-family-monospace;
    }

    &.hide {
      height: 0;
      opacity: 0;

      ul {
        color: #000;
        background-color: $yellow-100;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .video-button {
      margin-bottom: $spacer;
    }
  }

  @include media-breakpoint-up(sm) {
    #work-hero {
      padding-bottom: $spacer * 4;
    }
  }
}
