.landing-page {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
    & > * {
      grid-column: span 3;
    }
  }

  .video__mesh {
    display: none;
  }

  .hero-module .video__mesh {
    display: block;
  }

  .animation-module {
    canvas {
      position: absolute;
      top: 0;
      left: 66%;

      @include media-breakpoint-up(lg) {
        left: 50%;
      }

      @include media-breakpoint-down(md) {
        display: none !important;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .image-module,
    .video-module {
      grid-column: span 2;

      & ~ * {
        grid-column: span 1;
      }
    }

    .contact-module {
      grid-column: span 3;
    }
  }

  @include media-breakpoint-up(lg) {
    main {
      grid-template-columns: repeat(4, 1fr);

      & > * {
        grid-column: span 4;
      }
    }

    .image-module,
    .video-module {
      grid-column: span 2;

      & + .module:not(.contact-module) {
        grid-column: span 2;
      }

      & ~ .image-module + .module:not(.contact-module),
      & ~ .video-module + .module:not(.contact-module) {
        grid-column: span 1;
      }
    }

    .contact-module {
      grid-column: span 4;
    }
  }
}
