h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  color: #000;
  margin-top: $line-height-base * 1rem;
  letter-spacing: -0.025em;

  &:first-child {
    margin-top: 0;
  }
}

h6, .h6 {
  font-weight: bolder;
}

hr {
  margin-top: $spacer * 2;
  margin-bottom: $spacer * 2;
  opacity: 0.1;
}

.lead {
  font-family: $headings-font-family;

  strong {
    font-weight: bold;
  }
}

@include media-breakpoint-up(md) {
  .container-fluid {
    --bs-gutter-x: 1.5rem;
  }

  .row {
    --bs-gutter-x: 3rem;
  }
}

@include media-breakpoint-up(xl) {
  :root {
    font-size: 1.33333333333vw;
  }
}

@include media-breakpoint-up(xxl) {
  body {
    font-size: 0.875rem;
  }
}

@include media-breakpoint-up(xxxl) {
  body {
    font-size: 0.75rem;
  }
}
