#page-header {
  .navbar > .container-fluid {
    justify-content: flex-end;
  }

  .navbar-brand {
    margin-right: auto;

    img {
      width: 10rem;
      height: auto;
    }
  }

  .btn {
    font-size: inherit;
  }
}
