.landing-page {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
    & > * {
      grid-column: span 3;

      &:nth-child(2) {
        background-color: tint-color($green, 95%);
      }

      &:nth-child(4) {
        background-color: $yellow-400;
      }

      &:nth-child(7) {
        background-color: tint-color($green, 95%);
        background-image: url('../images/graph.svg');
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  .animation-module canvas {
    position: absolute;
    top: 0;
    left: 66%;

    @include media-breakpoint-up(lg) {
      left: 50%;
    }

    @include media-breakpoint-down(md) {
      display: none !important;
    }
  }

  .video__mesh {
    display: none;
  }

  .hero-module .video__mesh {
    display: block;
  }

  @include media-breakpoint-up(md) {
    main > * {
      &:nth-child(3) {
        grid-column: span 2;
      }

      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        grid-column: span 1;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    main {
      grid-template-columns: repeat(4, 1fr);

      & > * {
        grid-column: span 4;

        &:nth-child(4),
        &:nth-child(5) {
          grid-column: span 2;
        }
      }
    }
  }
}
