@mixin video-mesh {
  &::after {
    content: '';
    position: absolute;
    top: calc(var(--bs-gutter-x) / 2);
    left: calc(var(--bs-gutter-x) / 2);
    z-index: 1;
    display: block;
    opacity: 0.2;
    height: 100%;
    width: calc(100% - var(--bs-gutter-x));
    background-image: url('../images/mesh.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @include media-breakpoint-up(md) {
      width: 100%;
    }
  }
}

.video {
  z-index: 2;
  object-fit: cover;

  &__cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.grav-youtube {
  padding-top: 0;
  padding-bottom: 56.25%;
}
