.video {
  &__media {
    z-index: 2;
    object-fit: cover;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__mesh {
    top: var(--bs-gutter-x);
    left: calc(var(--bs-gutter-x) / 2);
    z-index: 1;
    opacity: 0.2;
    width: calc(100% - var(--bs-gutter-x));
  }

  @include media-breakpoint-up(md) {
    &__mesh {
      left: var(--bs-gutter-x);
      width: 100%;
    }
  }

  @include media-breakpoint-up(xl) {
    &__mesh {
      top: calc(var(--bs-gutter-x) / 2);
      left: calc(var(--bs-gutter-x) / 2);
    }
  }
}
