// Boostrap variable overrides
$line-height-base: 1.5;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1800px
);
$headings-font-family: 'space_grotesk';
$modal-backdrop-opacity: 0.9;
$primary: #3C1053;

// Required Bootstrap partials
@import "../vendor/bootstrap/scss/functions";
@import "../vendor/bootstrap/scss/variables";
@import "../vendor/bootstrap/scss/mixins";
@import "../vendor/bootstrap/scss/utilities";

// Optional Bootstrap partials
@import "../vendor/bootstrap/scss/root";
@import "../vendor/bootstrap/scss/reboot";
@import "../vendor/bootstrap/scss/type";
@import "../vendor/bootstrap/scss/images";
@import "../vendor/bootstrap/scss/containers";
@import "../vendor/bootstrap/scss/grid";
@import "../vendor/bootstrap/scss/tables";
@import "../vendor/bootstrap/scss/forms";
@import "../vendor/bootstrap/scss/buttons";
@import "../vendor/bootstrap/scss/nav";
@import "../vendor/bootstrap/scss/navbar";
@import "../vendor/bootstrap/scss/close";
@import "../vendor/bootstrap/scss/modal";

// Helpers
@import "../vendor/bootstrap/scss/helpers";

// Fonts
@import "../fonts/spacegrotesk/stylesheet.css";

// Theme
@import "overrides";
@import "base";
@import "skip-nav";
@import "page-header";
@import "page-footer";
@import "lightbox";
@import "logo-grid";
@import "video";
@import "modules/default";
@import "modules/contact";
@import "modules/hero";
@import "modules/animation";
@import "modules/image";
@import "modules/logo-grid";
@import "modules/video";
@import "template";
