{% extends 'partials/module.html.twig' %}

{% set body_classes = page.header.body_classes ~ ' animation-module animation-module--' ~ page.header.animation ~ ' rhythm container-fluid' %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-lg-6">
            {% if page.title %}
                <h2 class="module__heading">{{ page.title|e('html') }}</h2>
            {% endif %}
            {{ content|raw }}
        </div>
    </div>
    {% if page.header.video %}
        {{ include('partials/video.html.twig', page.header.video) }}
    {% endif %}
    {% if page.header.animation is sameas('text') and page.header.animation_text %}
        <div class="text-animation-container">
            <div class="text-animation">
                <div class="scroll-left">
                    {{ page.header.animation_text }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
