{% extends 'partials/module.html.twig' %}

{% set body_classes = page.header.body_classes ~ ' contact-module rhythm container-fluid' %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-lg-6">
            {% if page.title %}
                <h2 class="module__heading">{{ page.title|default('Request a quote') }}</h2>
            {% endif %}
            {{ content|raw }}
            {% if dns_blacklist.isBlacklisted %}
                <p>Please contact us directly at <a href="mailto:studio@fusiononline.com">mailto:studio@fusiononline.com</a>.</p>
            {% else %}
                {{ include('forms/form.html.twig', { form: forms('request-a-quote') }) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
