{% extends 'partials/module.html.twig' %}

{% set body_classes = page.header.body_classes ~ ' rhythm container-fluid' %}

{% block content %}
    {% if page.title %}
        <h2 class="module__heading">{{ page.title|e('html') }}</h2>
    {% endif %}
    {{ content|raw }}
    {% if page.header.cta or page.header.featured_video %}
        <div>
            {% if page.header.cta %}
                {{ include('partials/cta.html.twig') }}
            {% endif %}
            {% if page.header.featured_video and not page.header.featured_video.autoplay %}
                {{ include('partials/lightbox.html.twig', page.header.featured_video) }}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
