<div class="hero">
    <div class="row" style="align-items: center">
        <div class="col-lg-6">
            <h1 class="hero__heading display-2">
                {{ page.title }}
            </h1>
            {{ content|markdown }}
            <p class="hero__buttons">
                <a href="#request-a-quote" class="btn btn-primary">Request a quote</a>
                <a href="#" class="btn btn-outline-primary"><i class="la la-play"></i> Watch the video</a>
            </p>
        </div>
        <div class="col-lg-6">
            {% if page.header.featured_image and page.media[page.header.featured_image] %}
                {{ page.media[page.header.featured_image].html('', '', 'img-fluid') }}
            {% endif %}
            {% if page.header.featured_video %}
                {{ include('partials/video.html.twig', page.header.featured_video) }}
            {% endif %}
        </div>
    </div>
</div>
