{% extends 'partials/module.html.twig' %}

{% set body_classes = page.header.body_classes ~ ' image-module' %}

{% block content %}
    {% set classes = page.header.ratio ? 'ratio' : 'ratio ratio-16x9' %}
    {% set ratio_style = page.header.ratio ? '--aspect-ratio: ' ~ page.header.ratio : '' %}
    {% set position_style = page.header.anchor ? 'object-position: ' ~ page.header.anchor : '' %}
    <div class="{{ classes }}" style="{{ ratio_style }}">
        {{ page.media[page.header.image].attribute('style', position_style).html('', page.title, 'img-fluid')|raw }}
    </div>
{% endblock %}
