<div class="hero container-fluid">
    <div class="row" style="align-items: center">
        <div class="col-lg-6">
            <h1 class="hero__heading display-2">
                {{ heading }}
            </h1>
            {{ content|markdown }}
            <p class="hero__buttons">
                <a href="#request-a-quote" class="btn btn-primary">Request a quote</a>
                <a href="#" class="btn btn-outline-primary"><i class="la la-play"></i> Watch the video</a>
            </p>
        </div>
        <div class="hero__feature col-lg-6">
            {% if featured_image and page.media[featured_image] %}
                <div class="hero__featured-image">
                    {{ page.media.images[featured_image].html('', '', 'img-fluid') }}
                </div>
            {% endif %}
            {% if featured_video %}
                <div class="hero__featured-video ratio ratio-16x9">
                    {{ include('partials/video.html.twig', featured_video) }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
