<footer id="page-footer" class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-8 col-lg-6">
            <address>
                <p>
                    <img alt="{{ site.title|e('html_attr') }}" class="media-fusion-logo img-fluid" src="{{ url('theme://images/logo.svg') }}" width="310" height="54"
                    ><img alt="{{ site.title|e('html_attr') }}" class="tribe-logo img-fluid" src="{{ url('theme://images/pci_logo.svg') }}" width="94" height="77">
                </p>
                <p>
                    4951 Century Street<br>
                    Huntsville, AL 35816
                </p>
                <p>
                    <a href="mailto:studio@fusiononline.com">studio@fusiononline.com</a><br>
                    <a href="tel:+12565323874">(256) 532-3874</a>
                </p>
            </address>
            <nav class="social-media-nav">
                <ul class="list-unstyled">
                    <li>
                      <a href="https://www.facebook.com/MediaFusionHSV/" aria-label="Media Fusion Facebook Page">
                        <i class="lab la-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.youtube.com/mediafusion" aria-label="Media Fusion YouTube channel">
                        <i class="lab la-youtube" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/mediafusiononline/" aria-label="Media Fusion Instagram profile">
                        <i class="lab la-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://twitter.com/MediaFusion_LLC" aria-label="Media Fusion Twitter profile">
                        <i class="lab la-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/company/218470" aria-label="Media Fusion LinkedIn page">
                        <i class="lab la-linkedin" aria-hidden="true"></i>
                      </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-6">
            <h2 class="h5">About</h2>
            <p>
                Media Fusion Studio is a division of <a href="https://www.fusiononline.com">Media Fusion, LLC</a>,
                an award-winning support services company with over 20 years of experience and several
                <a href="https://www.fusiononline.com/doing-business">federal contract vehicles</a>.
            </p>
            <p>
                Media Fusion, LLC is owned by the Poarch Band of Creek Indians, a Federally Recognized Indian Tribe.
                <a href="https://pci-nsn.gov">pci-nsn.gov</a>
            </p>
            <p>
            </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-6">
            <p class="fine-print">
                &copy; 2021 Media Fusion, LLC</a> &nbsp;&bull;&nbsp; <a href="/privacy">Privacy Policy</a>
            </p>
        </div>
    </div>
</footer>
