<footer id="page-footer" class="container-fluid">
    <p class="page-footer__copyright">&copy; 2021 <a href="https://fusiononline.com">Media Fusion, LLC</a> &nbsp;&bull;&nbsp; Media Fusion, LLC is owned by the Poarch Band of Creek Indians, a Federally Recognized Indian Tribe. <a href="https://pci-nsn.gov">pci-nsn.gov</a> &nbsp;&bull;&nbsp; <a href="/privacy">Privacy Policy</a></p>
</footer>
