{% if sources or embed_url %}
    {% set classes = ratio ? 'video-container ratio' : 'video-container ratio ratio-16x9' %}
    {% set styles = ratio ? '--aspect-ratio: ' ~ ratio : '' %}
    <div class="{{ classes }}" style="{{ styles }}">
        {% if sources %}
            {{ include('partials/video_html.html.twig') }}
        {% else %}
            {{ include('partials/video_embed.html.twig') }}
        {% endif %}
    </div>
{% endif %}
