{% extends 'partials/base.html.twig' %}

{% block hero %}
    {% set hero_context = page.header.hero %}
    {% set hero_context.heading = page.header.hero.heading|default(page.header.title) %}
    {{ include('partials/hero.html.twig', hero_context) }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {{ page.content|raw }}
    </div>
{% endblock %}
