{% extends 'partials/base.html.twig' %}

{% set body_classes = body_classes ~ ' modular-page' %}

{% block content %}
    {% for module in page.collection() %}
        {{ module.content|raw }}
    {% endfor %}
    {% if page.content %}
    <div class="container-fluid">
        {{ page.content|raw }}
    </div>
    {% endif %}
{% endblock %}
