{% extends 'partials/base.html.twig' %}

{% set body_classes = body_classes ?? 'modular-page ' ~ page.header.body_classes %}

{% block content %}
    {% if page.content %}
    <div class="page-content container-fluid">
        {{ page.content|raw }}
    </div>
    {% endif %}
    {% for module in page.collection() %}
        {{ module.content|raw }}
    {% endfor %}
{% endblock %}
