{% extends 'modular.html.twig' %}

{% block content %}
    {% if page.content %}
    <div class="page-content container-fluid">
        {{ page.content|raw }}
    </div>
    {% endif %}
    {% for service in page.collection %}
    <div class="services-grid">
        {{ include('modular/service.html.twig', { page: service }) }}
    {% endfor %}
    </div>
    {% for module in page.collection() %}
        {{ module.content|raw }}
    {% endfor %}
{% endblock %}
