{% extends 'modular.html.twig' %}

{% block content %}
    {% if page.content %}
    <div class="page-content container-fluid">
        {{ page.content|raw }}
    </div>
    {% endif %}
    {% for project in page.collection('projects') %}
        {{ include('modular/project.html.twig', { page: project }) }}
    {% endfor %}
    {% for module in page.collection() %}
        {{ module.content|raw }}
    {% endfor %}
{% endblock %}
