{% extends 'modular.html.twig' %}

{% block content %}
    {% if page.content %}
    <div class="page-content container-fluid">
        {{ page.content|raw }}
    </div>
    {% endif %}
    {% for child in page.collection() %}
        {{ include('modular/project.html.twig', { page: child }) }}
    {% endfor %}
{% endblock %}
