.module {
  padding-top: $spacer * 4;
  padding-bottom: $spacer * 4;

  .row {
    align-items: center;
  }

  .video {
    height: 100%;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__mesh {
      display: none;
    }
  }

  &__kicker {
    text-transform: uppercase;
    font-family: $headings-font-family;
  }
}

.image-module + .module,
.video-module + .module {
  @include media-breakpoint-down(md) {
    padding-top: $spacer * 2;
  }
}

.graph-background {
  background-color: tint-color($green, 95%);
  background-image: url('../images/graph.svg');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.yellow-background {
  background-color: $yellow-400;
}
