.hero-module {
  &__heading {
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
  }

  &__buttons {
    line-height: 2.5;

    & > * {
      margin-right: $spacer / 2;
    }
  }

  &__media {
    .video-container {
      @include video-mesh;

      &::after {
        left: calc(var(--bs-gutter-x) / -2);
      }
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  p {
    @extend .lead;
  }
}
