.project-module {
  &--dark {
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    background-color: #000;

    a {
      color: tint-color($primary, 60%);

      &:hover {
        color: tint-color($primary, 80%);
      }
    }
  }

  &__text {
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;
  }

  .module__kicker {
    letter-spacing: 0.125em;
  }

  .module__heading {
    margin-bottom: $line-height-base * 1rem;
  }

  &__image {
    &--sm,
    &--md,
    &--lg,
    &--xl {
      display: none;
    }

    @include media-breakpoint-up(sm) {
      &--sm {
        display: block;
      }

      &--sm + & {
        display: none;
      }
    }

    @include media-breakpoint-up(md) {
      &--md {
        display: block;
      }

      &--md + & {
        display: none;
      }
    }

    @include media-breakpoint-up(lg) {
      &--lg {
        display: block;
      }

      &--lg + & {
        display: none;
      }
    }

    @include media-breakpoint-up(xl) {
      &--xl {
        display: block;
      }

      &--xl + & {
        display: none;
      }
    }
  }

  &__services {
    color: $gray-500;
    font-family: $font-family-monospace;
    font-size: 0.75em;
  }

  @include media-breakpoint-down(md) {
    &__image-container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @include media-breakpoint-up(md) {
    & > .row {
      flex-direction: row-reverse;
    }

    &--slide-right > .row {
      flex-direction: row;
    }

    &__image-container:not(.slide-right) {
      padding-right: 0;
    }

    &__image-container.slide-right {
      padding-left: 0;
    }
  }
}
